.homeWrapper{
    height:100%;
}

.chatList{
    box-shadow:1px 0px 3px grey;
    
}

.inputBox{
    border:1px solid red;
    position: absolute;
    bottom:0;
}
input[type=text] {
    padding:10px; 
    font-size: 20px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.message{
    border:1px solid purple;
}

.myMessage{
    text-align: right
}

.wrap{
    height: 100%
}

.theirMessage{
    text-align: left
}

.selected{
    border:1px solid black
}


.messageHistory{
    padding: 20px;
    height:80%;
    overflow-y:scroll;
    
}
