.App {
  text-align: center;
  height:100%;
  border-radius: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.routeWindow{
  box-shadow: 0px 5px 10px grey;
}

.header{
  background:lightpink;
}

.menuBtn{
  text-decoration:none;
  flex-shrink: 2
}
.router{
  height:100%;
  border-radius: 10px;
  min-width: 600px;
}
.menuVisual{
  height:5%;
  width:100%;
  min-width: 600px;
  margin-bottom:5%;
}
.menuContainer{
  flex-wrap: nowrap !important;
}

.routeWindow{
  height:95%
}