.row{
    margin-top:10px;
    box-shadow: 0px 2px 5px grey;
    height:50px;
}

.col{
    display: inline-block !important;
    width:40%;
    margin:5px;
    font-size: 20px;
    height:30px;
    text-align: center;
    
}
.col:nth-child(1){
    border-right: 1px solid lightgray
}

.searchResults{
    width:80%;
    margin:auto;
    
}